{% extends "login.html" %}
{% block title %} {{event}} {% endblock %}
{% block body %}
<center>{{event.info}}</center>
{% for image in event_images %}
<img src="{{MEDIA_URL}}{{image.name}}" height='100px' width='200px' />
{% if logged_in %}
	<a href='/remove_event_image/{{category.id}}/{{event.id}}/{{image.id}}'>Remove</a>
{% endif %}
{% endfor %}
</br>
{% if logged_in %}
	<a href='/add_event_image/{{category.id}}/{{event.id}}/'>Add event Image</a>
{% endif %}
</br></br>
<b>Status:</b>{{event.status}}
{% endblock %}

{% block end %}
 <hr> 
{% if logged_in %}
<a href='/edit_event/{{category.id}}/{{event.id}}'>edit</a></br>
<a href='/delete_event/{{category.id}}/{{event.id}}'>Delete</a>
{% endif %}
<hr>
<a href='/category/{{categoryid}}'>back</a>
{% endblock %}
