{% extends "login.html" %}
{% block title %}{{category}}{% endblock %}
{% block body %}
<center>{{category.info}}</center>
</br>
{% for category1_image in category_image %}
<img src="{{MEDIA_URL}}{{category1_image.name}}" height='100px' width='200px' />
{% endfor %}
<hr>
<h3><center>Events under {{category}}</center></h3>
<table border='1'>
<tr>
<th>Event name</th>
<th>Event status</th>
{% if logged_in %}
<th>Edit</th>
<th>Delete</th>
{% endif %}
</tr>
{% for event in events %}
<tr>
<td><a href='/event/image/{{category.id}}/{{event.id}}'>{{event.name}}</a></td>
<td>{{event.status}}</td>
{% if logged_in %}
<td><a href='/edit_event/{{category.id}}/{{event.id}}'>edit</a></td>
<td><a href='/delete_event/{{category.id}}/{{event.id}}'>Delete</td>
{% endif %}
</tr>
{% endfor %}
</table>
{% if logged_in %}
<a href='/addevents/{{category.id}}'>Add Events</a>
{% endif %}
<hr> {% endblock %}
{% block end %}<a href='/'>back</a> {% endblock %}
